@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --------------- HEADER --------------- */
.header {
    background-color: #1f2937;
    color: #fff;
    padding: 20px 0;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
}

.header__nav li:nth-child(n+2) {
    margin-left: 20px;
}

/* --------------- HEADER --------------- */

.welcome {
    background-color: #2e3d52;
    color: white;
}

.welcome h1 {
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 10px;

}

.welcome p {
    margin-bottom: 20px;
}

.welcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.welcome__hello {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.welcome__img {
    width: 48%;
    height: auto;
    object-fit: contain;
}

.welcome button {
    display: block;
    color: white;
    background-color: #3882F6;
    padding: 5px;
    border-radius: 5px;
    padding: 10px 30px;
}

/* --------------- ABOUT --------------- */
.about {
    padding: 50px 0;
}

.about h2 {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 35px;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__info-wrapper {
    display: flex;
    gap: 40px;
}

.about__info-card {
    text-align: center;
}

.about__info-card img {
    box-shadow: 2px 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

/* --------------- TESTIMONIAL --------------- */

.testimonial {
    text-align: center;

}

.testimonial__wrapper {
    background-color: #e8e9eb;
}

.testimonial .container {
    padding: 70px 0;
}

.testimonial__text {
    width: 80%;
    margin: 0 auto;
}

.testimonial__name {
    text-align: end;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}

/* --------------- ACTION --------------- */

.action .container {
    padding: 100px 0;
}

.action__wrapper {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
    border-radius: 10px;
    color: white;
}

.action__wrapper {}

.action__title-wrapper h4 {
    font-size: 24px;
    font-weight: 700;
}

.action__wrapper button {
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

/* --------------- FOOTER --------------- */

.footer {
    background-color: #2e3d52;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}